html, body {
				height: 100%;
				overflow: hidden;
			}
			body {
				margin: 0;
				padding: 0;
				font-family: Calibri, sans-serif;
				background-color: #F5E9DF;
				color: #F5E9DF;
				font-size: 1em;
			}
			.title-text {
				margin: 0 auto;
				text-align: center;
				font-size: 1em;
			}
			.programming {
				margin: 50px auto 0 auto;
				width: 300px;
				background-color: #7D1A2F;
				padding: 15px 20px 15px 20px;
				/*border: inset #F03540 2px;*/
				line-height: 1.6em;
			}
			.row {
				display: grid;
				grid-template-columns: 100px 1fr;
				padding: 5px 0;
			}
			.left {
				text-align: left;
				color: #F5E9DF;
			}
			.right {
				text-align: left;
				color: #F5E9DF;
			}
			.line {
				width: 100px;
				margin: 30px auto 40px auto;
				border-bottom: 2px #fff solid;
				height: 1px;
			}
			.subtitle-text {
				text-align: left;
				font-size: 0.8em;
				color: #F5E9DF;
				width: 100%;
				border-bottom: 2px #F5E9DF solid;
				line-height: 0;
				margin-bottom: 15px;
			}
			.insert {
				width:100%;
				margin: 15px 0 0 0;
				padding: 0;
			}